.quizApp{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.popup{
    position: absolute;
    width:367px;
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    top: 5vh;
    left: 5vh;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
.option form {
    display: flex;
    flex-direction: column;
}
.option form span{
    cursor: pointer;
}
#submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    width: 200px;
    height: auto;
    padding: 0.5rem 1.5rem;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    font-family: poppins;
    cursor: pointer;
}


@media screen and (min-width:0px) and (max-width:676px) {
    .quizApp{
        display: flex;
        padding: 1rem;
        align-items: start;
        width: 100%;
    }
}